@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios{
    display: grid;
    gap: 2rem;
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
    .servicio{
        text-align: center;
        background-color: v.$blanco;
        border-radius: 1rem;
        padding: 3rem;
        transition-property: transform, background-color;
        transition-duration: 300ms;
        &.seleccionado{
            background-color: v.$azul;
            p{
                color: v.$blanco;
            }
            &:hover{
                background-color: darken(v.$azul, 10%);
                transform: scale(1.05);
                cursor: pointer;
            }
        }
        &:hover{
            background-color: darken(v.$blanco, 10%);
            transform: scale(1.05);
            cursor: pointer;
        }
        p{
            color: v.$negro;
            margin: 0 0 calc(v.$separacion / 10) 0;
        }
        .precio-servicio{
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 3rem;
        }
    }

}
